export(bd.shifts.optim,bd.densdep.optim,LikShifts, LikConstant, LikConstantn,LikShiftsPP,bd.shifts.plot,LikTypesSTT,LikShiftsSTT,LikDD,bdsky.stt.optim,get.groups,addroot)
import(ape, TreeSim, Matrix, deSolve, subplex)